<!DOCTYPE HTML>
<html>
<head>
    <meta name="description" content="TicTacToe App">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>TicTacToe</title>
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">

    <!-- StyleSheets -->
    <link href="/basic.css" rel="stylesheet"/>

    <!-- External-Scripts -->
    <!-- socket.io Client-Side -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> -->
    <script src="/lib/socket-io-client.js"></script>
    <script src="https://opensource.keycdn.com/angularjs/1.5.8/angular.min.js"></script>

    </script>

    <!-- Scripts -->
    <script src="/client.js"></script>
    <script src="/scene.js"></script>
    <script src="/tictactoe.js"></script>
    <!-- <script src="/lib/p5.js"></script>
    <script src="/lib/p5.dom.js"></script>
    <script src="/lib/p5.sound.js"></script>
    <script src="/scene.js"></script> -->
    <script>
      var app = angular.module("app",["SocketService"]);
      app.controller("Header",["$scope","io-client",function($scope,io_client){
        var self = this;
        $scope.isConnected= false;
        self.connectionListener = function(value){
          $scope.isConnected = value;
          $scope.$apply();
        };
        io_client.AddConnectionListener(self.connectionListener);
        io_client.connect("localhost:3001");
      }]);
      app.controller("TicTacToe",["io-client",function(io_client){
        var self = this;
        self.scene = null;
        self.buttons = new Array();

        self.start = function(mode){
          console.log(mode+" starts now");
        }
        self.init = function(){
          var width = getDisplaySize().width;
          var height = getDisplaySize().height;
          self.scene = new Scene("canvas-container",800,600);
          self.scene.init();

          var mode;
          for(var i=0;i<3;i++){
            var modeNumber = i+1;
            switch(modeNumber){
              case 1: mode = TicTacToe.Mode.SingleVsAI; break;
              case 2: mode = TicTacToe.Mode.Local1vs1; break;
              case 3: mode = TicTacToe.Mode.Online1vs1; break;
              default:
            }
            var margin = 50;
            var width = 300;
            var height = 100;
            var x = 100;
            var y = (i*height)+((i+1)*margin);//+(i*margin);
            var button = new Scene.Control.Button(mode,x,y,width,height);
            var onClickHandler = function(){
              self.start(mode);
            };
            button.onClicked(onClickHandler);
            self.buttons.push(button);
            self.scene.add(button);
          }
        }
        io_client.AddConnectionListener(function(newValue){
          if(newValue&&self.scene==null){
            self.init();
          }
        });
      }]);
    </script>

    <!-- Loaded-Scripts-->

</head>
<body ng-app="app">
<header class="header" ng-controller="Header as ctrl">
    <span>TicTacToe</span>
    <div ng-switch on="isConnected">
      <span ng-switch-when="true" class="connected">Connected :D</span>
      <span ng-switch-when="false" class="disconnected">Disconnected :(</span>
    </div>
</header>
<main id="canvas-container" class="main" ng-controller="TicTacToe">

</main>
<footer class="footer">

</footer>
</body>
</html>
